.about{
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: var(--dark-en);
    min-width: 100%;

    &-header{
        text-align: center;
    }

    &-container{
        margin: 2rem;
    }

    &-profile {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 2rem;
        max-width: 900px;
        margin: 3rem auto;
    }
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.work-img img {
  transition: all 1s;
}
.name{
    color: var(--yelow);
    font-size: 2rem;
    margin: 0;
}

.title {
    font-size: 1rem;
    margin: 0;
    margin-top: 4px;
}
.content {
    line-height: 2;
}
.btn-yellow {
    padding: 1rem;
    color: black;
    background: var(--yelow);;
    margin: 1rem;
    text-transform: uppercase;
    border: 1px solid var(--yelow);
}